*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Domine', serif;
    scroll-behavior: smooth;
}
:root {
    --color-principal: rgb(252, 98, 60);
    --color-letras: #f1f1f1;
    --trans-02: all .2s ease-in-out;
    --trans-03: all .3s ease-in-out;
  }

.body{
    background: #f1f1f1;
}

    /* ALERTA */
    #alerta{
        transition: all 0.3s ease-in-out;
    }
#alertAddItem{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    z-index: 500;
    gap: 5px;
}
#alertAddItem i{
    color: #25D366;
    font-size: 1.3rem;
}
#alertAddItem p{
    color: #f1f1f1;
    font-weight: bold;
    margin: 0;
}

  /* PRELOADER */
#preloader{
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1500;
    top: 0; 
    opacity: 1;
    transition: var(--trans-03);
}
.preloader__img{
    width: 100px;
    animation-name: animacion-rotacion;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes animacion-rotacion {
    0%{
        transform: rotateZ(0);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

/* LOGIN */
.login-container{
    width: 80%;
    height: 95vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.login-wrapp{
    width: 100%;
    height: 50vh;
}
.container-img{
    width: 50%;
    height: 100%;
}
.login-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to left, transparent,white) ,url(https://img.freepik.com/fotos-premium/mujer-pidiendo-comida-linea-telefono-movil_746318-1107.jpg) no-repeat center / cover;
}

/* REGISTER */
.register-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

/* ADMIN PANEL */
.admin-container{
    width: 75%;
    margin: 0 auto;
}
.card-home-admin{
    width: 30%;
    height: 110px;
}
.cart{
    position: relative;
    color: white;
}
.carrito__icon{
    font-size: 1.2rem;
}
.card__count{
    color: var(--color-principal);
    left: 3px;
    bottom: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: .9rem;
    z-index: 200;
    font-weight: bolder;
}
.checkout-card__h2{
    font-size: 1.5rem;
}
#card-body{
    min-height: 500px;
}
.checkout-container{
    width: 90%;
    margin: 130px auto;
    padding: 15px;
}
.checkout-subcontainer{
    min-height: 600px;
}
.checkout-items{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.checkout-items-list{
    max-height: 500px;
    min-height: 500px;
    overflow: auto;
    padding: 20px;
}
.checkout-items-list p{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
}
.checkout-ticket{
    width: 25%;
}
/* .card__count{
    position: absolute;
    top: 5px;
    right: 5px;
} */


.admin-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #343a40;
    gap: 10px;
    color: #f1f1f1;
    border-radius: 5px;
    padding: 5px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.admin-nav-header{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
}
.admin-nav-header__a{
    text-decoration: none;
    color: #f1f1f1;
    transition: var(--trans-02);
}
.admin-nav-header__a:hover{
    color: var(--color-principal)
}
.admin-nav-header__a-active{
    color: var(--color-principal);
}
.admin-title-header{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    text-align: center;
}
.admin-title-header__h2{
    letter-spacing: 1px;
    margin: 0;
    font-weight: bold;
}
.admin-title-header__span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--color-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px var(--color-principal);
}
.admin-title-header__img{
    width: 35px;
    filter: invert(1);
}

#td-acciones{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
/* TABLE ICON */
.table-container{
    width: 100%;
}
.table-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: -50px;
    left: 45%;
    border: solid 1px silver;
    padding: 10px;
}
.card-table-container{
    margin-top: 150px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3;
}

/* MESAS */
.mesas-container{
    width: 100%;
    height: 500px;
    margin: 0 auto;
    gap: 20px;
}
.mesa-box{
    border-radius: 5px;
    height: 200px;
    padding: 10px;
    position: relative;
    width: 25% !important;
}
.mesa__img{
    width: 40%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.mesa__estado{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: .9rem;
    color: #25D366;
}
.mesa__p{
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;  
}

/* ADMINISTRAR MESA  d-flex gap-3 p-2 flex-wrap*/
#mesa-lista-productos{
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 15px;
    flex-wrap: wrap;
    height: 500px;
    overflow-y: auto;
}

.mesa-card-form{
    width: 20%;
    height: 250px;
    max-height: 225px;
}
.mesa-card__img{
    width: 100%;
    height: 100px;
}
.mesa-lista-consumido{
    min-height: 300px;
    overflow-y: scroll;
}
.card-mesa-consumido{
    width: 100%;
    height: 100%;
}

/* PRELOADER */
#preloader{
    position: fixed;
    width: 100%;
    height: 100%;
}


/* FOOTER */
.footer{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-letras);
    background: black;
}

/* HERADER */
.header{
    width: 100%;
    height: 10vh;
    background: linear-gradient(to right, black, #0c0c0c);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    align-items: center;
    justify-content: space-around;
    color: var(--color-principal);
    box-shadow: 0 0 5px black;
}
.header__logo{
    width: 200px;
    height: 80px;
    padding: 12px;
}
.header__logo-img{
    width: 100%;
    height: 100%;
}

.contenedor-principal{
    width: 80%;
    margin: 10vh auto;
    background: none;
}
.login-card{
    height: 100%;
    width: 50%;
}

/* MENU HERO */
.hero-contenedor{
    width: 100%;
    height: 500px;
}
.hero__img{
    width: 100%;
    height: 100%;
}

/* NAV-MOBILE */
.nav-mobile{
    display: none;
}
.header-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.header-btn-wsp{
    display: none;
}

.float-btn-wsp{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background: #25D366;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
}
.float-btn-wsp:hover{
    transform: scale(1.04);
}
.float-btn-wsp__icon{
    font-size: 30px;
}

#pedido{
    width: 100%;
    background: red;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-weight: bold;
    color: beige;
    margin: 0;
    padding: 0;
}

/* HERO-COTAINER */
.hero-container{
    width: 100%;
    height: 85vh;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0.5)) ,url(https://www.raicescocinacasera.com.ar/site/wp-content/uploads/2013/12/home-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-letras);
    margin-top: 10vh;
}
.categories{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    background: #f0f0f0;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}
.categories-box{
    text-decoration: none;
    background: var(--color-principal);
    padding: 5px;
    border-radius: 5px;
    min-width: 150px;
    max-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: black;
    transition: var(--trans-02);
}
.categories-box:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px var(--color-principal);
    color: #f1f1f1;
}
.categories-box__img{
    width: 25px;
    transition: var(--trans-02);
}
.categories-box:hover .categories-box__img{
    filter: invert(1);   
}
.categories-box__p{
    text-decoration: none;
}

.box-column-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero__h1{
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-family: 'Satisfy', cursive;
    line-height: 50px;
    text-align: center;
}
.hero__h2{
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.hero__ubicacion{
    color: var(--color-letras);
    text-decoration: none;
    width: 80%;
    text-align: center;
}
.hero__ubicacion-icono{
    color: var(--color-principal);
}
.hero-btns{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 100%;
    height: auto;
    align-items: center;
}
.hero-btns__icon{
    width: 30px;
}
.hero__btn{
    width: 350px;
    height: 45px;
    background: var(--color-principal);
    border: none;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: auto 0;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    transition: var(--trans-02);
}
.hero__btn:hover{
    background: rgb(255, 112, 77);
    transform: scale(1.02);
}

/* ALERTAS */
.alert-agregar{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}


/* FOOD SECTION */

.foods-section{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 0;
}
.food-carousel{
    width: 100%;
}
.food-list{
    width: 100%;
    height: auto;
}
.food-list-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 10px;
    background: linear-gradient(to right, black, #0c0c0c);
    color: #f1f1f1;
    
}
.food-list__icon{
    width: 30px;
}
.food-list__h2{
    margin: 0;
}
.food-wrapp{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.food-card{
    width: 300px;
    height: 320px;
    background: white;
    margin: 0 auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    transition: var(--trans-02);
}
.food-card:hover{
    transform: scale(1.02);
}
.food-img{
    width: 100%;
    height: 55%;
    padding: 10px;
    position: relative;
}
.food__img{
    width: 100%;
    height: 100%;
}
.food__precio{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background: var(--color-principal);
    border-radius: 0 0 0 10px;
}
.food-description{
    max-width: 100%;
    height: 25%;
    padding-left: 10px;
}
.food-description__h2{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}
.food-btns{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.food-btns__p{
    margin: 0;
    color: black;
    transition: var(--trans-02);
}
.food-btns__btn:hover .food-btns__p{
    color: white; 
}
.food-btns__icon{
    color: white;
    transition: var(--trans-02);
}
.food-btns__btn:hover .food-btns__icon{
    color: var(--color-principal); 
    transform: rotate(-20deg);
}
/* FOOD CARDS BEBIDAS */
.food-card-bebidas{
    width: 300px;
    height: 320px;
    background: white;
    margin: 0 auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    transition: var(--trans-02);
}
.food-card-bebidas:hover{
    transform: scale(1.02);
}
.food-img-bebidas{
    width: 100%;
    height: 75%;
    padding: 10px;
    position: relative;
}
.food__img-bebidas{
    width: 100%;
    height: 100%;
}
.food__precio-bebidas{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    background: var(--color-principal);
    border-radius: 0 0 0 10px;
}
.food-description-bebidas{
    max-width: 100%;
    height: 5%;
    padding-left: 10px;
}