/* Estilos para pantallas más pequeñas que 380 pixels de ancho */

@media screen and (max-width: 380px) {
    .food-card{
        width: 230px;
    }
    .food-img{
        height: 50%;
    }
    .hero-contenedor{
        height: 350px;
    }
    .checkout-card__h2{
        font-size: 20px;
    }
}

/* Estilos para pantallas más pequeñas que 600 pixels de ancho */
@media screen and (max-width: 600px) {
    .contenedor-principal{
        width: 100%;
    }
    .header{
        z-index: 600;
    }
    .header-btn-wsp{
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #f1f1f1;
        background: #25D366;
        padding: 10px;
        border-radius: 50%;
    }
    .float-btn-wsp{
        display: none;
    }
    .float-btn-wsp__icon{
        font-size: 1.5rem;
    }
    .categoria__carousel{
        width: 90%;
    }
    .header-nav{
        display: none;
    }
    .categories{
        justify-content: flex-start;
        padding: 10px;
    }
    .categories-box{
        scroll-margin-top: 500px;
    }
    .food-card{
        height: 250px;
    }
    .food-img{
        height: 65%;
    }
    .food-description{
        text-align: center;
        padding: 0;
        height: fit-content;
    }
    .food-description__p{
        display: none;
    }
    /* NAV-MOBILE */
    .nav-mobile{
        width: 80%;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        margin: 10px 10%;
        bottom: 0;
        left: 0;
        background-color: black;
        z-index: 1000;
        border-radius: 25px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .nm-icons{
        font-size: 1.2rem;
        color: var(--color-principal)
    }
    .nm-mobile__span{
        font-size: .9rem;
        margin-top: 5px;
        color: #f1f1f1;
    }
    .nav-mobile-menu{
        background: black;
        position: relative;
        border-radius: 50%;
    }

    /* CHECKOUT */
    .checkout-container{
        width: 100%;
        margin-top: 80px;
        padding: 5px;
    }
    .checkout-subcontainer{
        min-height: auto;
        flex-wrap: wrap;
    }
    .checkout-items{
        width: 100%;
    }
    .checkout-items-list{
        max-height: 400px;
        min-height: 100px;
        overflow: auto;
        padding: 0;
    }
    .checkout-items-list p{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    .checkout-card__h2{
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
    }
    .checkout-card__p{
        font-size: .9rem;
    }
    .checkout-ticket{
        width: 95%;
        margin: 20px 0;
        border: none;
    }

    .footer{
        height: 90px;
    }
    .footer p{
        margin: 0;
    }
}

@media screen and (min-width: 767px){
    .contenedor-principal{
        width: 100%;
    }
    .food-card{
        width: 250px;
    }
    .categoria__carousel{
        width: 95%;
    }
    .checkout-subcontainer{
        flex-wrap: wrap;
    }
    .checkout-items-list{
        min-height: 300px;
    }
    .checkout-items{
        width: 100%;
    }
    .checkout-ticket{
        width: 95%;
    }
    .footer{
        height: 85px;
    }
    .footer p{
        margin: 0;
    }

    /* ADMIN PANEL */
    .admin-container{
        width: 100%;
    }
    
}

@media screen and (min-width: 1023px){
    .contenedor-principal{
        width: 100%;
    }
    .checkout-container{
        margin-top: 120px;
    }
    .checkout-items-list{
        min-height: 300px;
    }
    .checkout-items{
        width: 100%;
    }
    .food-card{
        width: 280px;
    }
    .categoria__carousel{
        width: 95%;
    }   
}

@media screen and (min-width: 1439px){
    .contenedor-principal{
        width: 100%;
    }
    .checkout-container{
        margin-top: 120px;
    }
    .checkout-items-list{
        min-height: 500px;
    }
    .checkout-items{
        width: 60%;
    }
    .checkout-ticket{
        width: 40%;
    }
    .food-card{
        width: 280px;
    }
    .categoria__carousel{
        width: 95%;
        margin: 0 auto;
    }

    /* ADMIN PANEL */
    .admin-container{
        width: 100%;
    }
    
}

@media screen and (min-width: 1979px) {
    .checkout-items{
        width: 60%;
    }
    .checkout-ticket{
        width: 30%;
    }
}